{% extends "base.html" %}
{% block content %}

<div class="dashboard-container">

<h1 class="title">Recruiter Dashboard</h1>


<!-- FILTER BAR -->
<form method="GET" class="filter-bar">
    <input type="text" name="q" placeholder="Search Name / Email">
    <input type="number" name="score" placeholder="Minimum Score">
    <input type="text" name="job" placeholder="Job Title" value="{{ job_title }}">
    <input type="text" name="skill" placeholder="Missing Skill" value="{{ skill }}">
    <button type="submit">Filter</button>
</form>

<!-- TABLE -->
<table class="resume-table">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>ATS Score</th>
        <th>Missing Skills</th>
        <th>Resume</th>
    </tr>

    {% for r in resumes %}
    <tr>
        <td>{{ r.name }}</td>
        <td>{{ r.email }}</td>

        <td>
            <div class="progress">
                <div class="progress-bar" style="width:{{ r.score }}%;">
                    {{ r.score }}%
                </div>
            </div>
        </td>

        <td>
            {% if r.missing_keywords %}
                {{ r.missing_keywords|join:", " }}
            {% else %}
                None
            {% endif %}
        </td>

        <td>
            <a class="download-btn" href="{{ r.resume_file.url }}">Download</a>
        </td>
    </tr>
    {% endfor %}
</table>

</div>

<style>
.dashboard-container{
    max-width:1100px;
    margin:auto;
    background:white;
    padding:35px;
    border-radius:14px;
    box-shadow:0 4px 14px rgba(0,0,0,0.08);
}

.title{
    color:#6a0dad;
    margin-bottom:20px;
}

.section-title{
    margin-top:10px;
}

.top-candidates{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
    margin-bottom:25px;
}

.candidate-card{
    background:#fafafa;
    padding:15px 20px;
    border-radius:12px;
    box-shadow:0 2px 6px rgba(0,0,0,0.08);
    min-width:220px;
}

.filter-bar{
    display:flex;
    gap:15px;
    margin:20px 0 30px 0;
}

.filter-bar input{
    padding:10px;
    border-radius:8px;
    border:1px solid #ccc;
}

.filter-bar button{
    background:#6a0dad;
    color:white;
    border:none;
    padding:10px 18px;
    border-radius:8px;
    cursor:pointer;
}

.resume-table{
    width:100%;
    border-collapse:collapse;
}

.resume-table th{
    background:#6a0dad;
    color:white;
    padding:12px;
    text-align:left;
}

.resume-table td{
    padding:12px;
    border-bottom:1px solid #eee;
}

.progress{
    background:#eee;
    border-radius:10px;
    overflow:hidden;
}

.progress-bar{
    background:#6a0dad;
    color:white;
    padding:4px;
    text-align:center;
}

.download-btn{
    background:#6a0dad;
    color:white;
    padding:6px 12px;
    border-radius:6px;
    text-decoration:none;
}
</style>

{% endblock %}
